* {
    margin: 0;
    padding: 0;
    
}

.fondo {
    background: #1b3e91;
    color: white;
    margin: 0px;
}

.titulo {
    text-align: center;
    background-color: rgb(36, 36, 36);
    padding: 20px;
    font-size: 25px;
}

.titulo h2 {
    animation: animate 4s linear infinite;
    color: #0f0;
}

@keyframes animate 
{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.carta {
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}

#computadora-cartas, #jugador-cartas {
    height: 220px;
}

small {
    color: rgb(0, 248, 0);
}